body{
    width: auto;
    height: 500px;
    background-color:wheat;
    font-family: 'Press Start 2P', cursive;
}
.background{
    width: auto; height: 800px;
    justify-content: center;
    margin-top: -500px;
    margin-left: -10px;
    background: url('./desert2.png') 0 center / 1500px repeat-x;
    animation: movebg 2s linear infinite;

}
@keyframes movebg{
    0% {background-position: 0 center;}
    100%{background-position: -500px center;}
}



h1{
    color:red;
    text-align: center;
    line-height: 1.5;
    font-size: 40px;
    
}