body{
    width: auto;
    height: 500px;
    background-color:wheat;
}
.background{
    justify-content: center;
    margin-top: -500px;
    margin-left: -10px;
}
h1{
    color:red;
    text-align: center;
    line-height: 1.5;
    
}